bcrypt
CherryPy
more-itertools
PyJWT
pyopenssl
requests
Routes
-e ../../../python-common
prettytable
pytest
pyyaml
natsort
setuptools
jsonpatch
urllib3>=2.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
