-e ../../python-common
asyncmock
cherrypy
cryptography
jsonpatch
Jinja2
pecan
prettytable<3.4.0
pyfakefs
pyOpenSSL
pytest-cov==2.7.1
pyyaml
requests-mock
scipy
setuptools
werkzeug
natsort
bcrypt
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
